$backgroundGradientColor:linear-gradient(to right, #71b280, #135058);
$backgroundColor:#649173;

section{
    background: $backgroundColor;  /* fallback for old browsers */
    background: $backgroundGradientColor;
    background: $backgroundGradientColor;
    width: 100%;
    height: 100%;
    overflow: hidden;
    app-search-car{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
}

@media (max-width: 800px) { 
    section{
        background: $backgroundColor;  /* fallback for old browsers */
        background: $backgroundGradientColor;
        background: $backgroundGradientColor;
        width: 100%;
        height: 100%;
        overflow: hidden;
        app-search-car{
            display: grid;
            align-items: center;
            height: 100%;
            width: 90%;
            margin: 0 auto;
        }
    }
}