.form {
    width: 30%;
    mat-form-field{
        width: 100%;
    }

}
app-detail-car{
    width: 35%;;
}

@media (max-width: 800px) { 
    .form{
        width: 100%;
    }
    app-detail-car{
        width: unset;
    }
}