<app-loader *ngIf="loader === true"></app-loader>

<form class="form" novalidate>
  <div>
    <mat-form-field>
      <mat-label>Selecione a Marca</mat-label>
      <mat-select [(ngModel)]="carBrand" id="brand" name="brand"
        (selectionChange)="selectAllTypeEventsFipe($event, 0)" disableRipple>
        <mat-option *ngFor="let fipeBrand of dataFipeBrand" [value]="fipeBrand.codigo">
          {{fipeBrand.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Selecione o Modelo</mat-label>
      <mat-select [(ngModel)]="model"  id="model" name="model"
        (selectionChange)="selectAllTypeEventsFipe($event, 1)" [disabled]="isDisable(carBrand)" disableRipple>
        <mat-option *ngFor="let model of refineLoadOnlyModels" [value]="model.codigo">
          {{model.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Selecione o Ano</mat-label>
      <mat-select [(ngModel)]="year"  id="year" name="year"
        (selectionChange)="selectAllTypeEventsFipe($event, 2)" [disabled]="isDisable(model)" disableRipple>
        <mat-option *ngFor="let year of dataYear" [value]="year.codigo">
          {{year.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>
<app-detail-car *ngIf="allDataCar !== null" [veiculo]="allDataCar"></app-detail-car>